spring:
  application:
    name: loan-manager-backend
  
  datasource:
    url: jdbc:postgresql://db.kjevzsclagnginnyfgao.supabase.co:5432/postgres
    username: postgres
    password: Brayan10_
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true

app:
  jwt:
    secret: a347b4c6-5431-4e0d-99bf-2e921a79159c

server:
  port: 8080
  servlet:
    context-path: /
